{
	"presets": [
		[
			"@babel/preset-env",
			{
				"modules": false
			}
		],
		"@babel/preset-typescript",
		"@babel/preset-react"
	],
	"plugins": ["@babel/proposal-class-properties"],
	"env": {
		"test": {
			"presets": [["@babel/preset-env"]]
		}
	}
}
